* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
    text-align: center;
    padding-top: 15px;
  }

.botoes {
    display: flex;
    position: relative;
}

.ul1 {
    margin-left: 250px;
    margin-top: 100px;
}

.ul2 {
    position: absolute;
    right: 250px;
    margin-top: 100px;
  }

.titulo {
    font-size: 40px;
    position: absolute;
    top: 47%;
    left: 32%;
    font-family: 'Courier New', Courier, monospace;
  }

.caixa {
    position: flex;
    border: solid 2px #000;
    border-radius: 50px;
    margin-bottom: 100px;
    height: 50px;
    width: 200px;
    background-color: rgb(119, 0, 255);
    color: black;
    cursor: pointer;
}

.caixa:hover {
    background-color: rgb(183, 75, 255);
}

.titulo {
    animation-duration: 3s;
    animation-name: slidein;
    animation-direction: alternate;
  }

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  